body {
  margin: 0;
  height: 100%;
}
header {
  height: 700px;
  background-image: url("moreBackground.jpg");
  background-size: cover;
  background-position: 50%,0;
}
header #title {
  font-size: 60px;
  text-align: center;
  padding-top: 200px;
  color: white;
}
nav {
  width: 100%;
  background-color: #decba5;
  text-align: center;
}
nav .link-box {
  display: grid;
}
@media (min-width: 1100px) {
  nav .link-box {
    display: block;
  }
}
nav .link-box button {
  height: 100px;
  margin-top: 5px;
  width: 100%;
  font-weight: 600;
  font-size: 25px;
}
@media (min-width: 1200px) {
  nav .link-box button {
    width: 25%;
    margin: 15px 0 15px 0;
    font-weight: 20px;
  }
}
section p {
  font-size: 20px;
}
section article {
  margin-top: 40px;
}
img {
  width: 80%;
  margin-top: 30px;
}
@media (min-width: 1100px) {
  img {
    width: 40%;
  }
}
.codeSnip p {
  text-align: center;
}
.codeSnip .codeExample {
  margin-top: 30px;
}
.lessInstall {
  margin-top: 30px;
}
@media (min-width: 1100px) {
  .jumbotron {
    width: 80%;
    margin-left: 10%;
  }
}
footer {
  width: 100%;
  bottom: 0;
  background-color: #ffc107;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
footer h5 {
  line-height: 100px;
}
